html {
  background-color: rgb(47, 144, 223);
}

.marginSetter {
  margin-top: 20rem;
  margin-bottom: 15rem;
}

h1 {
  text-align: center;
  font-family: 'Fredoka One', cursive;;
  font-weight: 400;
}

option {
  font-size: 20px;
}

.wBorder {
  border: ridge 5px white;
}
